
.box {
  margin: 100px auto;
  width: 50px;
  height: 50px;
  background-color: salmon;
  cursor: pointer;
  transition: border-radius 0.5s ease-in-out 0s, width 0.5s ease-in-out 0.5s, height 0.5s ease-in-out 1s;
  -webkit-transition: border-radius 0.5s ease-in-out 0s, width 0.5s ease-in-out 0.5s, height 0.5s ease-in-out 1s;
  -moz-transition: border-radius 0.5s ease-in-out 0s, width 0.5s ease-in-out 0.5s, height 0.5s ease-in-out 1s;
  -ms-transition: border-radius 0.5s ease-in-out 0s, width 0.5s ease-in-out 0.5s, height 0.5s ease-in-out 1s;
  -o-transition: border-radius 0.5s ease-in-out 0s, width 0.5s ease-in-out 0.5s, height 0.5s ease-in-out 1s;
}

.box:hover{
  width:200px;
  height:200px;
  border-radius: 0 50% 0 50%;
  -webkit-border-radius: 0 50% 0 50%;
  -moz-border-radius: 0 50% 0 50%;
  -ms-border-radius: 0 50% 0 50%;
  -o-border-radius: 0 50% 0 50%;
  transition: height 0.5s ease-in-out 0s, width 0.5s ease-in-out 0.5s, border-radius 0.5s ease-in-out 1s;
  -webkit-transition: height 0.5s ease-in-out 0s, width 0.5s ease-in-out 0.5s, border-radius 0.5s ease-in-out 1s;
  -moz-transition: height 0.5s ease-in-out 0s, width 0.5s ease-in-out 0.5s, border-radius 0.5s ease-in-out 1s;
  -ms-transition: height 0.5s ease-in-out 0s, width 0.5s ease-in-out 0.5s, border-radius 0.5s ease-in-out 1s;
  -o-transition: height 0.5s ease-in-out 0s, width 0.5s ease-in-out 0.5s, border-radius 0.5s ease-in-out 1s;
}

